.bare-outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.bare-middle {
    display: table-cell;
    vertical-align: middle;
}

.bare-inner {
    margin-left: auto;
    margin-right: auto;
    width: 75%
}